/*Colours
#2c3550 - Main font


#2b344f - Dark Grey
#cbd0e6 - Medium Grey
#e5e9f6 - Light Grey

#8f4ef3 - Purple

*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
    padding: 1rem;
}

html, body {
    height: 100%;
    margin: 0;
}

body { 
    padding: 0;
    font-family: 'Roboto' !important;
    color: #2b344f;
}
b, strong {
    font-weight: bold;
}

#map {
    height: calc(100vh - 9rem);
    width: -webkit-fill-available;
    border-radius: 20px;
}
select {
    appearance: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }


select {
    word-wrap: normal;
    position: inherit;
    z-index: 10001;
    padding: 1rem;
    margin: 0 0 auto;
    vertical-align: middle;
    align-self: center;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: -webkit-fill-available;
    border: none;
    border-radius: 15px;
    outline: none;
    font-size: larger;
    background: #f5f5f5 !important;
}



.fade:not(.show){
    opacity: 1 !important;
}

.modal-dialog {
    position: fixed;
    width: max-content;
    margin: 0.5rem;
    pointer-events: none;
    right: 1rem;
    height: max-content;
    max-width: 80vw;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    height: 60vh;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-wrap: anywhere;
}

.fade {
    transition: opacity 0.15s linear;
    /*
    background: dimgrey;
    mix-blend-mode: color;
    */
}

.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:white;
    background-color: #2b344f;
}

.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color:white;
    background-color: #2b344f;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-bar a, .leaflet-bar a:hover {
    border-bottom: none;
}

.leaflet-touch .leaflet-bar a {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

option {
    border: none;
}

.jumbotron {
    background-color: transparent;
    padding: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* Weather */
#climate-temperature{
    font-size: 3rem;
    margin-bottom: 0rem;
}


#climate-description {
    font-size: 1.5rem;
}

#climate-icon img {
    width: 5rem;  
}

#exchangerate {
    padding: 1rem;
    background-color: #e5e9f6;
    text-align: center;
    align-items: center; 
}

#exchangerate.row {
    border-radius: 10px;
}


#rowitem {
    margin: 1rem;
    justify-content: center;
}



#value, #exchangeratevalue, #gdp_value, #inf_value, #bud_value, #hospitalbeds_ph, #lifeexpectancy_ph, #infantmortality_ph, #co2output_ph, #energyfromrenewables_ph, #airpollution_ph, #education_ph, #govedexpense_ph, #literacy_ph   {
    font-size: 3rem;
}

#key {
    align-self: center;
}

.fa-male, .fa-female, .fa-stethoscope, .fa-gas-pump, .fa-seedling, .fa-smog, .fa-graduation-cap, .fa-coins, .fa-book, .fa-exclamation-circle, .fa-percent, .fa-bars, .fa-concierge-bell, .fa-chart-line, .fa-plane, .fa-gavel   {
    height: 6rem;
}

.fa-baby {
    height: 6rem;
}

#gdp {
    text-align: center;
}

#latestFlight {
    background-color: #e5e9f6;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

#covidChart{
    justify-content: center;
    background-color: #e5e9f6;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

#bar1, #bar2, #bar3, #bar4, #bar5, #bar6 {
    background-color: #2b344f;
    border-radius: 100px;
    margin: 1.3rem;
    flex-grow: .02;
    width: 0.001rem;
    padding: .5rem;

}

#bar1 {
    height: 10rem;
    margin-top: 8rem;
} 
#bar2 {
    height: 10rem;
}
#bar3 {
    height: 10rem;
}
#bar4 {
    height: 10rem;
}
#bar5 {
    height: 10rem;
}
#bar6 {
    height: 10rem;
}

#charttext{
    text-align: -webkit-center;
}

img{
    max-width: 100% !important;
}


@media screen and (max-width: 1200px) {


    
    
    }


@media screen and (max-width: 575px) {


  #map {
    height: 38vh;
  }

  .col-sm-3 {
    overflow-y:visible !important;
    margin: 1rem !important;
  }
  
  }