html, body {
    height: 100%;
    margin: 0;
}

body { 
    padding: 0; 

} 

#map { 
    height: 100%; 
    width: 100vw; 
}



select {
    word-wrap: normal;
    position: absolute;
    z-index: 10001;
    padding: .5rem;

    margin: 0 0 auto;
    vertical-align: middle;
    align-self: center;
    display: inline-block;
    margin: 1rem;
}