html, body {
    height: 100%;
    margin: 0;
}

body { 
    padding: 0; 

} 

#map { 
    height: 100%; 
    width: 100vw; 
}



select {
    word-wrap: normal;
    position: fixed;
    z-index: 10001;
    padding: 1rem;
    margin: 0 0 auto;
    vertical-align: middle;
    align-self: center;
    display: inline-block;
    margin: 1.5rem;
    width: -webkit-fill-available;
    border: none;
    border-radius: 15px;
    outline: none;
}

.fade:not(.show){
    opacity: 1 !important;
}

.modal-dialog {
    position: fixed;
    width: max-content;
    margin: 0.5rem;
    pointer-events: none;
    right: 1rem;
    height: max-content;
    max-width: 80vw;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    height: 60vh;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    overflow-wrap: anywhere;
}